<section class="container">
  <div class="container__shade">
    <div class="container__indications">
      <h2 class="container__indications__title">Recuperar contraseña</h2>
      <p class="container__indications__para">Tu nueva contraseña debe contener al menos una letra mayuscula, un número
        y un símbolo, además de tener al menos 9 caracteres. </p>
    </div>

    <form class="container__form">

      <div class="container__form--retrieve">
        <div class="container__form--retrieve__password">
          <label class="container__form--retrieve__password__label" for="">Nueva Contaseña</label>
          <div class="container__form--retrieve__password__field">
            <input type="password" placeholder="Contraseña7772">
            <fa-icon class="container__form--retrieve__password__field--iconNew" [icon]="faEyeSlash"></fa-icon>
          </div>
        </div>

        <div class="container__form--retrieve__password">
          <label
          class="container__form--retrieve__password__label" for="">Confirma nueva Contraseña</label>
          <div class="container__form--retrieve__password__field">
            <input type="password" placeholder="Contraseña7772">
            <fa-icon class="container__form--retrieve__password__field--iconConfirm" [icon]="faEyeSlash"></fa-icon>
          </div>
        </div>

      </div>
      <button class="container__form--button">Aceptar</button>
    </form>
  </div>
</section>
