// *-*-*-*-*-*-*-*-*-*-*-* Colors *-*-*-*-*-*-*-*-*-*-*-*-*
// Light Color Palette (Custom Properties)
.light {
	--color-primary: #FFF;
	--color-secondary: #774DA2;
	--color-tertiary: #D1D0F6;
	--color-quaternary: #777;
	--color-quinary: #EC147D;
	--color-senary: #777;
	--color-septenary: #E81968;
  --color-theme: #000;
  --color-table-picker: #423F3F;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
}

// Dark Color Palette (Custom Properties)
.dark {
	--color-primary: #231B23;
	--color-secondary: #774DA2;
	--color-tertiary:#000000 71 %;
	--color-quaternary:#777;
	--color-quinary: #FFF;
	--color-senary: #B7B7B7;
	--color-septenary: #E81968;
  --color-theme: #FFF;
  --color-table-picker: #423F3F;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
}
