<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of dataSlider; let i = index" fxLayout="column"
            fxLayoutAlign="center center">

            <div class="m-b-30" fxLayout="column" fxLayoutAlign="center center" class="containerImg">
                <ng-lottie [options]="options[i]" width="240px" height="200px"
                    (animationCreated)="animationCreated($event)"></ng-lottie>
            </div>

            <span fxLayout="column" fxLayoutAlign="center center" class="title">
                {{item.title}}</span>

            <div class="textDescription" fxLayout="column" fxLayoutAlign="center center" *ngIf="item.paragraph1">
                <span fxLayout="column" fxLayoutAlign="center center" class="descriptionAlignStart w-89"
                    [innerHTML]="item.paragraph1"></span>
            </div>

            <div class="textDescription" fxLayout="column" fxLayoutAlign="center center" *ngIf="item.paragraph2">
                <span fxLayout="column" fxLayoutAlign="center center" class="descriptionAlignCenter w-89"
                    [innerHTML]="item.paragraph2"></span>
            </div>

            <div class="slide-indicador" *ngIf="i != (dataSlider.length - 1)" fxLayout="row"
                fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div *ngFor="let item of dataSlider; let indexTarget = index" fxLayout="row"
                        fxLayoutAlign="center center">
                        <div class="slide-circulo" fxLayout="row" fxLayoutAlign="center center">
                            <div class="circle" (click)="positionCircle(indexTarget)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>