.slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.slide-open:checked+.slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    height: 100%;

}

.slide-item img {
    display: block;
    height: auto;
    max-width: 121px;
    height: 121px;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3,
#slide-4:checked~.control-4 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    z-index: 10;

    left: 43.73%;
    right: 43.47%;
    top: 93.00%;
    bottom: 8.99%;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #c46fdc;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #9567c4;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo,
#slide-4:checked~.control-4~.slide-indicador li:nth-child(4) .slide-circulo {
    color: #774DA2;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
        -1px 0px 2px rgba(255, 255, 255, 0);
}

span {
    text-align: center;
    width: 75%;
}

.mat-card-per {
    height: 100%;
    margin-top: 20px;
    border-radius: 30px 30px 0px 0px;

}


.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    margin-top: 20px;
}

.descriptionAlignStart {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: start;
    color: #777777;
    margin-top: 20px;
}
.descriptionAlignCenter {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #777777;
    margin-top: 20px;
}


.mat-raised-button{
    color: #fff;
    background: #774DA2;
    width: 70%;
    border-radius: 10px;
    height: 46px;
}

.m-t-20
{
    margin-top: 120px;
}

.xs-margin
{
    margin-top: 30%;
}

.xl-margin
{
    margin-top: 10%;
}
.gt-margin
{
    margin-top: 10%;
}

.gt-margin
{
    margin-top: 10%;
}
.md-margin
{
    margin-top: 10%;
}