<div fxLayout="column" fxLayoutAlign="start center" style="height: 100%;">
    <div class="slide" fxLayout="column" fxLayoutAlign="center center">
        <div class="slide-inner" fxLayout="column" fxLayoutAlign="center center">

            <div *ngFor="let item of dataSlider.slice().reverse(); let i = index" fxLayout="column"
                fxLayoutAlign="center center">

                <div  fxLayout="column" fxLayoutAlign="center center">
                    <input class="slide-open" type="radio" id="slide-{{item.targetNumber}}" name="slide"
                        aria-hidden="true" hidden="" checked="checked">

                    <div class="slide-item" fxLayout="column" fxLayoutAlign="center center">

                        <div style="margin-bottom:30px;" fxLayout="column" fxLayoutAlign="center center"
                            class="containerImg">
                            <ng-lottie [options]="options[i]" width="240px" height="200px"
                                (animationCreated)="animationCreated($event)"></ng-lottie>
                        </div>

                        <span fxLayout="column" fxLayoutAlign="center center" class="title"
                            style="width: 100%;">{{item.title}}</span>

                        <div style="margin-top:30px; width: 89%;" fxLayout="column" fxLayoutAlign="center center"
                            *ngIf="item.paragraph1">
                            <span fxLayout="column" fxLayoutAlign="center center" class="descriptionAlignStart"
                                style="width: 89%;" [innerHTML]="item.paragraph1"></span>
                        </div>

                        <div style="margin-top:30px; width: 89%;" fxLayout="column" fxLayoutAlign="center center"
                            *ngIf="item.paragraph2">
                            <span fxLayout="column" fxLayoutAlign="center center" class="descriptionAlignCenter"
                                style="width: 89%;" [innerHTML]="item.paragraph2"></span>
                        </div>

                    </div>
                </div>

            </div>

            <ol class="slide-indicador" *ngIf="showPoints" fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <li *ngFor="let item of dataSlider; let i = index" fxLayout="row" fxLayoutAlign="center center">
                        <label for="slide-{{item.targetNumber}}" (click)="hidePoints(item.targetNumber)"
                            class="slide-circulo" fxLayout="row" fxLayoutAlign="center center">•</label>
                    </li>
                </div>
            </ol>
        </div>
    </div>
</div>