mat-datepicker-content {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  background-color: var(--color-primary) !important;
}
.mat-calendar-table-header-divider ::after {

  position: absolute;
  top: 0;
  left: -8px;
  right: -8px;
  height: 0px !important;
}

.mat-calendar-table-header-divider {
  position: static !important;
  height: 1px !important;
}

.mat-calendar-content {
  background:  var(--color-table-picker) !important;// #F8F8F8;
  padding: 0px 0px 0px 0px !important;
  color: var(--color-primary);
}

.mat-datepicker-actions{
  justify-content: center !important;
  align-items: center !important;

}
.mat-calendar-body{
  background-color: var(--);
}
.mat-calendar-body-label {
  color: var(--color-theme);
}
.mat-calendar-body-cell-content {
  color: var(--color-theme);
}

.mat-calendar-table-header {
  // background: #EBEBEB;
  background: var(--color-primary);
  color: var(--color-theme);
  padding: 10px;
}


.mat-calendar-header {
  display: flex;
  align-items: center;
  padding: 0.5em;
  background: var(--color-secondary);
  color: var(--color-theme);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.mat-calendar-header-label {
  flex: 1;
  height: 1em;
  font-weight: 500;
  text-align: center;
}

.mat-calendar-double-arrow .mat-icon {
  margin: -22%;
}

.mat-calendar-table-header th {
  padding: 10px 0px 0px 0px !important;
}

.buttonAceptCalendar {
  background: var(--color-secondary);
  color:#fff;
}
