<main class="main">
        <div class="main-header">
            <h1 class="main-header-title"> Cambio de contraseña </h1>
            <p class="main-header-instructions">
                Tu nueva contraseña debe contener al menos una letra mayúscula, un número, y un número, y un símbolo, además de
                tener al menos 9 caracteres
            </p>
        </div>
        <form class="main-form" [formGroup]="form">

            <!-- Contraseña Actual -->
            <label for="">Contraseña actual</label>
            <mat-label *ngIf="form.controls['password'].touched">Contraseña *</mat-label>
            <mat-form-field appearance="outline">
                <input matInput [type]="password" placeholder="Contraseña   *" formControlName="password" minlength="9" />
                <button matSuffix mat-icon-button (click)="changeView('password')">
                    <mat-icon>visibility_off</mat-icon>
                </button>
            </mat-form-field>
            <button    class="main-form-link" type="button">No recuerdo mi contraseña</button>

            <!-- Contraseña nueva -->
            <label for="">Nueva contraseña</label>
            <mat-label *ngIf="form.controls['newpassword'].touched">Contraseña *</mat-label>
            <mat-form-field appearance="outline">
                <input matInput [type]="password" placeholder="Contraseña *" formControlName="password" minlength="9" />
                <button matSuffix mat-icon-button (click)="changeView('password')">
                    <mat-icon>visibility_off</mat-icon>
                </button>
            </mat-form-field>
        
            <!-- Confirmar Contraseña  -->
            <label for="">Confirma nueva contraseña</label>
            <mat-label *ngIf="form.controls['confirmPassword'].touched">Confirma la contraseña *</mat-label>
            <mat-form-field appearance="outline">
                <input matInput [type]="confirmPassword" placeholder="Confirma la contraseña *"
                    formControlName="confirmPassword" minlength="9" />
                <button matSuffix mat-icon-button (click)="changeView('confirmPassword')">
                    <mat-icon>visibility_off</mat-icon>
                </button>
            </mat-form-field>

            <button mat-button class="main-form-button" cdkFocusInitial [disabled]="!form.valid" (click)="submit()">Aceptar</button>
        </form>
</main>