
<!-- <div class="container" fxLayout.gt-sm="row" fxLayout.lt-md="column">
  <div fxFlex.gt-sm="20%" fxFlex.lt-md="20%"
    fxLayoutAlign="center center" class="left">Left</div>
  <div fxFlex.gt-sm="80%" fxFlex.lt-md="80%"
    fxLayoutAlign="center center" class="right">Right</div>
</div> -->


<div class="container" fxLayout="column"  fxLayout.xs="column" fxLayoutGap.xs="0"  fxLayoutGap="25px" style="height:100%; margin-top: 30%;">
  <div fxFlex> <button mat-button class="button"   routerLink="/perfil">Perfil</button></div>
  <div fxFlex><button  mat-button class="button"   routerLink="/register">Registro</button></div>
  <div fxFlex><button mat-button class="button"   routerLink="/slider">Slider</button></div>
</div>
