@import url('https://rsms.me/inter/inter.css');
@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('https://rsms.me/inter/inter.css');
}
.formContainer{
  margin: 25px;
}

:host {
  ::placeholder { color: var(--color-senary); }

  mat-hint {
    color: var(--color-senary);
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
    color: var(--color-senary);
  }

  ::ng-deep .mat-button-wrapper svg {
    color: var(--color-senary);
  }

  ::ng-deep .mat-button-wrapper mat-icon {
    color: var(--color-senary);
  }

}

.button {
  background: var(--color-septenary);
  color: #fff ;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  height: 46px;
  width: 100%;
  border-radius: 0px;

}

.textPassword {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
color: var(--color-senary);
margin-right: 15px;
margin-left: 15px;
margin-bottom: 25px;
}

.mat-button{
  cursor: default;
  color: #fff !important;
  border-radius: 10px;
}


.mat-button-disabled {
  opacity: 0.5;
  color: var(--color-button-septenary)
}

input  {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: var(--color-senary);
}

.input {
  color: var(--color-senary);
}


mat-label{
  color: var(--color-senary);
}


