<div fxFlex fxLayout="column" fxLayout.xs="column" fxLayoutGap.xs="0">
  <div [formGroup]="form" fxLayout="column" class="formContainer" fxFlexAlign="center"  >
    <mat-label *ngIf="form.controls['name'].touched">Nombre *</mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Nombre *" formControlName="name" />
    </mat-form-field>

    <mat-label *ngIf="form.controls['lastName'].touched ">Apellido</mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Apellido *" formControlName="lastName" />
    </mat-form-field>

    <mat-label >Número de celular *</mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Número de celular *" formControlName="phone" />
      <mat-hint>Ejemplo: +529999999999</mat-hint>
    </mat-form-field>

    <mat-label *ngIf="form.controls['email'].touched">Correo electrónico *</mat-label>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Correo electrónico *" formControlName="email" />
    </mat-form-field>

    <mat-label *ngIf="form.controls['birthday'].touched && form.controls['birthday'].valid">Fecha de nacimiento *</mat-label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento *" formControlName="birthday" [max]="maxDateTo" [disabled]="true">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker disabled="false"   startView="year">
        <mat-date-range-picker-actions>
          <button style="background: #774DA2; color:#fff;" mat-raised-button  matDateRangePickerApply>Aceptar</button>
        </mat-date-range-picker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-label *ngIf="form.controls['password'].touched">Contraseña *</mat-label>
    <mat-form-field appearance="outline">
      <input matInput [type]="password" placeholder="Contraseña *" formControlName="password" minlength="9"/>
      <button matSuffix mat-icon-button (click)="changeView('password')">
        <mat-icon>visibility_off</mat-icon>
      </button>
    </mat-form-field>

    <mat-label *ngIf="form.controls['confirmPassword'].touched">Confirma la contraseña *</mat-label>
    <mat-form-field appearance="outline">
      <input matInput [type]="confirmPassword" placeholder="Confirma la contraseña *" formControlName="confirmPassword" minlength="9"/>
      <button matSuffix mat-icon-button (click)="changeView('confirmPassword')">
        <mat-icon>visibility_off</mat-icon>
      </button>
    </mat-form-field>
    <p fxFlex class="textPassword">Tu nueva contraseña debe contener al menos una letra mayúscula, un número, y un símbolo, además de tener al menos 9 caracteres.</p>
    <button mat-button class="button" cdkFocusInitial [disabled]="!form.valid" (click)="submit()">Aceptar</button>
  </div>
</div>


