<div fxFlex fxLayout="column" >
  <h2 class="container__indications__title">Registrate</h2>
</div>

<!--<div class="container">
  <div class="container__shade">
    <div class="container__indications">

    </div>
    <form class="container__form" [formGroup]="form">
      <mat-form-field appearance="outline">
        < <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre*" formControlName="name" #name maxlength="100">
         <mat-icon matSuffix>eye</mat-icon>
        <fa-icon matSuffix class="container__form--retrieve__password__field--iconNew" [icon]="faEyeSlash"></fa-icon>
         <mat-error *ngIf="companyForm.controls.name.invalid && companyForm.controls.name.touched">
            <strong>{{'validations.required' | translate}}</strong>
        </mat-error>
      </mat-form-field>
      <button class="container__form--button">Aceptar</button>
    </form>
  </div>
</div>-->

