.formContainer{
  margin: 0px 25px 25px 25px;
}

.button {
  background: #E81968;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  height: 46px;
  width: 100%;
  border-radius: 0px;

}
