<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon">close</mat-icon>
</button>
<!-- <h1 mat-dialog-title>{{ title }}</h1> -->
<mat-dialog-content>
    <!-- <div>{{ message }}</div> -->
    <div style="text-align: center; padding: 15px;">
      <img src="assets/img/checkmark-circle-outline.png" alt="">
    </div>

    <p>{{ message }}</p>
    <div *ngIf="description">{{ description }}</div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button *ngIf="buttonNo" mat-button class="buttonAccept" (click)="onNoClick()">No</button>
    <button *ngIf="buttonYes" mat-button class="buttonAccept" [mat-dialog-close]="true" cdkFocusInitial>Si</button>
    <button *ngIf="buttonOk" mat-button class="buttonAccept" [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
