:host {
    // div {
    //     user-select: none;
    //     font-size: 14px;
    //     color: black;
    //     font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
    //     padding: 5px;
    // }

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }

    button {
      background: #774DA3;
      color: #fff;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      // font-size: 14px;
      // line-height: 17px;
      // height: 46px;
      // width: 100%;
      // border-radius: 0px;

    }
}
