:host {
    // div {
    //     user-select: none;
    //     font-size: 14px;
    //     color: black;
    //     font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
    //     padding: 5px;
    // }


    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }

    .buttonAccept {
      background: #774DA3;
      color: #fff;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      width: 112px;
    }

    .close-button{
      float: right;
      top:-24px;
      right:-24px;
    }

    .close-icon {
      transition: 1s ease-in-out;
    }

    .close-icon:hover {
      transform: rotate(180deg);
    }

    ::ng-deep .icon-outside .close-button{
      float: right;
      top:-52px;
      right:-52px;
    }

    ::ng-deep .icon-outside .mat-dialog-container {
     overflow: unset
    }
}
