<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content>
    <!-- <div>{{ message }}</div> -->
    <div style="text-align: center; padding: 15px;">
      <img src="assets/img/checkmark-circle-outline.png" alt="">
    </div>

    <p>{{ message }}</p>
    <div *ngIf="description">{{ description }}</div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button *ngIf="buttonNo" mat-button (click)="onNoClick()">No</button>
    <button *ngIf="buttonYes" mat-button [mat-dialog-close]="true" cdkFocusInitial>Si</button>
    <button *ngIf="buttonOk" mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
