<div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" class="w-100 m-t-70p">
        <div class="w-100 m-t-5" fxLayout="column" fxLayoutAlign="center center">
            <div class="w-85">
                <span class="title">Código de invitación</span>
            </div>
        </div>
        <div class="w-100 m-t-5" fxLayout="column" fxLayoutAlign="center center">
            <div class="w-85">
                <span class="descripcion">Ingresa el código que tu referido te ha enviado
                    <br> Para disfrutar sus beneficios</span>
            </div>
        </div>
    </div>
    <div class="search m-t-15" fxLayout="row" fxLayoutAlign="center center">
        <input type="text" class="searchTerm" placeholder="Código de invitación">
        <button type="submit" class="searchButton">Aplicar
        </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="w-100">
        <button type="submit" class="generarCodigo" (click)="generateCode()">Genera un código para compartir
        </button>
    </div>
    <div>
        <img class="icon-chat" src="./assets/img/chatboot.png" alt="">
    </div>
</div>