@import url('https://rsms.me/inter/inter.css');
@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('https://rsms.me/inter/inter.css');
}

:host {
  width: 100%;
  background-color: var(--color-primary);

  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: var(--color-secondary);
  }
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
   background: var(--color-primary);
  // background: var(--color-primary);
  }

  ::ng-deep  .mat-slide-toggle-bar {
    border-radius: 15px !important;
    height: 29px !important;
    width: 59px !important;
    background-color: var(--color-primary);
    border: 1px solid #DFDFE8;
  }

  ::ng-deep .mat-slide-toggle-thumb {
    width: 30px !important;
    height: 30px !important;
    transform: translate(10%, 10%);
  }

  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(25px,0,0) !important;
  }

  ::placeholder { color: var(--color-senary); }

  // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  //   border: 1px solid var(--color-senary) !important;
  // }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
    color: var(--color-senary) !important;
  }

  ::ng-deep .mat-button-wrapper {
    color: var(--color-senary) !important;
  }

}
.formContainer{
  margin: 25px;
}

.button {
  background: var(--color-secondary);
  color: var(--color-primary);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  height: 46px;
  width: 100%;
  border-radius: 0px;

}

.mat-button{
  cursor: default;
  color: var(--color-senary) !important;
  border-radius: 10px;
}


.mat-button-disabled {
  opacity: 0.5;
}

input  {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-senary);
}


mat-label{
  color: var(--color-senary);
}

.modeDark {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: var(--color-senary);
}



